Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 1920 23 1920 1017 395 382

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/2023_summer/2023train11/Seniors_DDR3/Chang_DDR/Package.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 12595652.165088
cursor 5713501.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 64

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
addGroup "G2"
activeDirFile "" "/home/2023_summer/2023train11/Seniors_DDR3/Chang_DDR/Package.fsdb"
addSignal -h 21 /TESTBED/I_Package/Rank0/Bank0/ck
addSignal -h 21 -holdScope ck_n_in
addSignal -h 21 -UNSIGNED -HEX -holdScope addr[19:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope dq_all_in[1023:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope dq_all[1023:0]
addSignal -expanded -h 21 -holdScope col_pipeline[56:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[56][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[55][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[54][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[53][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[52][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[51][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[50][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[49][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[48][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[47][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[46][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[45][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[44][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[43][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[42][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[41][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[40][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[39][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[38][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[37][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[36][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[35][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[34][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[33][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[32][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[31][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[30][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[29][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[28][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[27][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[26][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[25][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[24][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[23][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[22][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[21][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[20][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[19][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[18][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[17][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[16][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[15][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[14][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[13][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[12][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[11][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[10][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[9][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[8][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[7][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[6][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[5][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[4][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[3][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[2][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[1][3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope col_pipeline[0][3:0]
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/2023_summer/2023train11/Seniors_DDR3/Chang_DDR/Package.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/TESTBED"
"/TESTBED/I_Package"
"/TESTBED/I_Package/Rank0"
"/TESTBED/I_Package/Rank0/Bank0"

SCOPE_LIST_BEGIN
"/TESTBED"
"/TESTBED/I_Package/Rank0/Bank0"
"/TESTBED/I_Package/Rank0/ACT_BANK_CMD_FF"
"/TESTBED/I_Package/Rank0"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


