Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 23 1920 1017 412 251

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/2023_summer/2023train11/Seniors_DDR3/Chang_DDR/Package.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 1872526.730846 1976603.704265
cursor 5277000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 2
; marker line index
markerPos 15

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "Main FSM CMD"
activeDirFile "" "/home/2023_summer/2023train11/Seniors_DDR3/Chang_DDR/Package.fsdb"
addSignal -h 21 /TESTBED/I_Package/Rank0/clk
addSignal -h 21 -holdScope command
addSignal -h 21 -UNSIGNED -holdScope state[4:0]
addSignal -h 21 -UNSIGNED -holdScope state_nxt[4:0]
addSignal -h 21 -holdScope act_busy
addSignal -h 21 -UNSIGNED -HEX -holdScope act_bank[2:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope act_addr[13:0]
addGroup "Bank FSM"
addSignal -h 21 /TESTBED/I_Package/Rank0/clk
addSignal -h 21 -UNSIGNED /TESTBED/I_Package/Rank0/ba0/ba_state[4:0]
addSignal -h 21 -UNSIGNED -holdScope ba_state_nxt[4:0]
addSignal -h 21 -UNSIGNED -holdScope process_cmd[2:0]
addSignal -h 21 -holdScope stall
addSignal -h 21 -holdScope ba_issue
addSignal -h 21 -UNSIGNED -HEX /TESTBED/I_Package/Rank0/dq_all[1023:0]
addGroup "CMD Scheduler"
addSignal -h 21 /TESTBED/I_Package/Rank0/scheduler/clk
addSignal -h 21 -UNSIGNED -holdScope bax_state[4:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope write_count[2:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope b0_counter[7:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope b0_c_counter[7:0]
addSignal -h 21 -holdScope act_pri
addSignal -h 21 -holdScope pre_pri
addSignal -h 21 -holdScope read_pri
addSignal -h 21 -holdScope write_pri
addSignal -h 21 -UNSIGNED -HEX -holdScope sch_addr[13:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope sch_bank[2:0]
addSignal -h 21 -UNSIGNED -holdScope sch_command[3:0]
addSignal -h 21 -holdScope sch_issue
addGroup "ISSUE_FIFO"
addSignal -h 21 /TESTBED/I_Package/Rank0/isu_fifo/clk
addSignal -h 21 -UNSIGNED -HEX -holdScope valid_space[5:0]
addSignal -h 21 -holdScope empty
addSignal -h 21 -holdScope full
addSignal -h 21 -holdScope virtual_full
addSignal -h 21 -UNSIGNED -HEX -holdScope data_in[20:0]
addSignal -h 21 -holdScope write_en
addSignal -h 21 -holdScope wen
addSignal -h 21 -holdScope buf_in
addSignal -h 21 -holdScope buf0
addSignal -h 21 -holdScope buf1
addSignal -h 21 -holdScope buf2
addSignal -h 21 -holdScope buf3
addSignal -h 21 -holdScope buf4
addSignal -h 21 -UNSIGNED -HEX -holdScope write_0[4:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope write_counter[4:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope read_counter[4:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope read_counter_sub1[4:0]
addSignal -h 21 -holdScope clk
addSignal -h 21 -holdScope data_out
addSignal -h 21 -holdScope data_out_pre
addSignal -h 21 -holdScope ren
addSignal -h 21 /TESTBED/I_Package/Rank0/clk
addSignal -h 21 -UNSIGNED -holdScope state[4:0]
addSignal -h 21 -UNSIGNED -holdScope state_nxt[4:0]
addSignal -h 21 -holdScope check_tRCD_violation_flag
addSignal -h 21 -holdScope check_tCCD_violation_flag
addSignal -h 21 -holdScope check_tRP_violation_flag
addSignal -h 21 -holdScope check_tWR_violation_flag
addSignal -h 21 -holdScope check_tWTR_violation_flag
addSignal -h 21 -UNSIGNED -HEX -holdScope tP_baxx[4:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope tP_bax[4:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope tP_recodex[2:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope tP_recodexx[2:0]
addGroup "W_DATA_FIFO"
addGroup "DDR PHY"
addSignal -h 21 /TESTBED/I_Package/Rank0/clk
addSignal -expanded -h 21 -UNSIGNED -holdScope d_state[3:0]
addSignal -h 21 -UNSIGNED -holdScope d_state_nxt[3:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope dq_state[15:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope dq_state_nxt[15:0]
addSignal -h 21 -holdScope clk2
addSignal -h 21 -holdScope cas_n
addSignal -h 21 /TESTBED/I_Package/Rank0/Bank0/ck
addSignal -h 21 /TESTBED/I_Package/Rank0/cke
addSignal -h 21 -UNSIGNED -HEX /TESTBED/I_Package/Rank0/Bank0/ba[2:0]
addSignal -h 21 -UNSIGNED -BIN /TESTBED/I_Package/Rank0/cs_mux[3:0]
addSignal -h 21 -holdScope ck_n
addSignal -h 21 -holdScope cs_n
addSignal -h 21 -holdScope ras_n
addSignal -h 21 -holdScope cas_n
addSignal -h 21 -holdScope we_n
addSignal -h 21 -UNSIGNED -HEX -holdScope dm_tdqs_in[1:0]
addSignal -h 21 -UNSIGNED -BIN /TESTBED/I_Package/Rank0/Bank0/addr[13:0]
addSignal -h 21 /TESTBED/I_Package/Rank0/odt
addSignal -h 21 -UNSIGNED -HEX -holdScope dq_all[1023:0]
addGroup "G5"
addGroup "G8"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/2023_summer/2023train11/Seniors_DDR3/Chang_DDR/Package.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/TESTBED"
"/TESTBED/I_Package"
"/TESTBED/I_Package/Rank0"
"/TESTBED/I_Package/Rank0/isu_fifo"

SCOPE_LIST_BEGIN
"/TESTBED"
"/TESTBED/I_Package"
"/TESTBED/I_Package/Rank0"
"/TESTBED/I_Package/Rank0/INITIALIZATION_COUNTER"
"/TESTBED/I_Package/Rank0/ACT_BANK_CMD_FF"
"/TESTBED/I_Package/Rank0/Bank0"
"/TESTBED/I_Package/Rank0/ba0"
"/TESTBED/I_Package/Rank0/scheduler"
"/TESTBED/I_Package/Rank0/scheduler/CMD_AUTHORIZE_BLOCK"
"/TESTBED/I_Package/Rank0/isu_fifo"
"/TESTBED/I_Package/Rank0/isu_fifo/TEST_SIGNALS"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


