Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 23 1920 1017 344 222

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/2023_summer/2023train11/Master_Thesis/Backend/01_RTL/initialization.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 171593.160095
cursor 60000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 3

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "Intialization_fsm"
activeDirFile "" "/home/2023_summer/2023train11/Master_Thesis/Backend/01_RTL/initialization.fsdb"
addSignal -h 15 /TESTBED/init_ddr_phy_dram_inst/dram_initialization_fsm_inst/clk
addSignal -h 15 -holdScope power_rst_n
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -UNSIGNED -holdScope command_ff_o[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope mode_register_cnt[1:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope initialization_cnt[15:0]
addSignal -h 15 -holdScope initialization_done_ff_o
addSignal -h 15 -holdScope lmr_done_flag
addSignal -h 15 -holdScope mode_register_set_flag
addSignal -h 15 -holdScope power_on_done_flag
addSignal -h 15 -holdScope reset_done_flag
addSignal -h 15 -holdScope all_mode_register_set_flag
addSignal -h 15 -UNSIGNED -holdScope state[3:0]
addSignal -h 15 -holdScope wait_tdllk_done_flag
addSignal -h 15 -holdScope wait_txpr_done_flag
addSignal -h 15 -holdScope zq_done_flag
addGroup "PHY"
addSignal -h 15 /TESTBED/init_ddr_phy_dram_inst/phy_layer_inst/rst_n
addSignal -h 15 -UNSIGNED -HEX -holdScope MR0[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope MR1[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope MR2[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope MR3[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope addr[13:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ba[2:0]
addSignal -h 15 -holdScope cas_n
addSignal -h 15 -holdScope ck
addSignal -h 15 -holdScope ck_n
addSignal -h 15 -holdScope cke
addSignal -h 15 -holdScope clk1
addSignal -h 15 -holdScope clk2
addSignal -h 15 -holdScope cs_n
addSignal -h 15 -UNSIGNED -HEX -holdScope dm_tdqs[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dq[127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dq_all[1023:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dqs[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dqs_n[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_activated_row_addr[13:0]
addSignal -h 15 -UNSIGNED -holdScope i_command[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_current_bank_state[2:0]
addSignal -h 15 -holdScope i_data_full_write_phy
addSignal -h 15 -UNSIGNED -HEX -holdScope i_data_wr_phy[127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_read_write_io_cnt[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_rw_control_state[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_data_read_phy[127:0]
addSignal -h 15 -holdScope odt
addSignal -h 15 -holdScope ras_n
addSignal -h 15 -UNSIGNED -HEX -holdScope tdqs_n[1:0]
addSignal -h 15 -holdScope we_n
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/2023_summer/2023train11/Master_Thesis/Backend/01_RTL/initialization.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/TESTBED"
"/TESTBED/init_ddr_phy_dram_inst"

SCOPE_LIST_BEGIN
"/TESTBED"
"/TESTBED/init_ddr_phy_dram_inst"
"/TESTBED/intf"
"/TESTBED/pattern_inst"
"/TESTBED/init_ddr_phy_dram_inst/ddr3_inst"
"/TESTBED/init_ddr_phy_dram_inst/dram_initialization_fsm_inst"
"/TESTBED/init_ddr_phy_dram_inst/phy_layer_inst"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


